.box{
  height: 100vh;
  width: 100%;
  background-color: darksalmon;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5vw;
  color: azure;
}
.box button{
  background-color: teal;
  color: antiquewhite;
  height: 4vw;
  width: 8vw;
  font-size: 1.5vw;
}